<div class="agr-footer">
    <div class="agr-logo-box">
        <div class="agr-logo"></div>
    </div>
    <div class="agr-contatti footer-item">
        <h3>Contattaci</h3>
        <span>
            <p>Agrumix SICILIA<br>di Scarcella Erik</p>
        </span>
        <span>
            <p>Via Maria Teresa d'Austria, 89<br>98026<br>Santa Teresa di Riva (ME)<br>agrumix@icloud.com<br>+39 351 87
                86 453</p>
        </span>
    </div>
    <div class="agr-link footer-item">
        <h3>Link utili</h3>
        <span>
            <ul>
                <li (click)="navigateTo('home')"><i class="fas fa-chevron-right"></i> Home</li>
                <li (click)="navigateTo('chi-siamo')"><i class="fas fa-chevron-right"></i> Chi siamo</li>
                <li (click)="navigateTo('contatti')"><i class="fas fa-chevron-right"></i> Contatti</li>
            </ul>
        </span>
        <h3>Seguici su</h3>
        <div class="agr-social">
            <div class="fb" (click)="redirectTo('fb')"></div>
            <div class="ig" (click)="redirectTo('ig')"></div>
        </div>
    </div>
    <div class="agr-chisiamo footer-item">
        <h3>Chi siamo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a voluptatem beatae eius. Impedit
            exercitationem ratione voluptatem reiciendis distinctio enim qui illo alias tempore dicta!</p>
    </div>
</div>