<div class="agr-bg-img">

</div>
<div class="agr-content">
    <div class="agr-main">
        <div class="agr-logo"></div>
        <h2 class="brush-text">I nostri Agrumi</h2>
        <div class="agr-text-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus pariatur quasi, asperiores, nulla
                excepturi fugiat accusantium impedit quis, repudiandae quaerat error sapiente eaque ullam a. Facilis
                molestiae perferendis quidem laboriosam, quis amet voluptate minima voluptas vitae consequuntur est
                voluptatem eos maiores autem officiis! Repudiandae saepe nostrum corrupti tempore. Omnis, mollitia!
                Tenetur, alias suscipit culpa repellat commodi molestiae nam, quia vero maxime quas, temporibus earum
                similique ipsa dignissimos quis incidunt esse. Vitae commodi maiores quia necessitatibus totam numquam
                modi, adipisci doloremque, quidem delectus molestias dolor, rem ipsa magnam unde excepturi quam
                laboriosam illum! Deserunt laudantium laboriosam atque possimus veritatis culpa ipsam repellendus magnam
                excepturi exercitationem asperiores molestiae voluptatibus nihil, officiis enim earum et doloremque sed
                dolor delectus sunt consequuntur placeat quasi! Exercitationem recusandae odio fugit corporis inventore
                hic maiores autem, sunt repellat est, ipsam, deleniti consectetur reiciendis assumenda nihil quibusdam
                eaque aliquid? Aliquid quam explicabo earum exercitationem eos sequi a tempora!</p>
        </div>
    </div>
    <div class="agr-line"></div>
    <div class="agr-list">
        <app-scheda-agrume [agrume]="'arancia'" [desc]="'desc di prova'" [title]="'Le nostre Arance'"></app-scheda-agrume>
        <app-scheda-agrume [agrume]="'limone'" [desc]="'desc di prova'" [title]="'I nostri Limoni'"></app-scheda-agrume>
        <app-scheda-agrume [agrume]="'mandarino'" [desc]="'desc di prova'" [title]="'I nostri Mandarini'"></app-scheda-agrume>
        <app-scheda-agrume [agrume]="'lime'" [desc]="'desc di prova'" [title]="'I nostr Lime'"></app-scheda-agrume>
    </div>
    <h2 class="brush-text">I nostri Agrumi</h2>
        <div class="agr-text-box" style="height: fit-content;">
            <p style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus pariatur quasi, asperiores, nulla
                excepturi fugiat accusantium impedit quis, repudiandae quaerat error sapiente eaque ullam a. Facilis
                molestiae perferendis quidem laboriosam, quis amet voluptate minima voluptas vitae consequuntur est
                voluptatem eos maiores autem officiis! Repudiandae saepe nostrum corrupti tempore. Omnis, mollitia!
                Tenetur, alias suscipit culpa repellat commodi molestiae nam, quia vero maxime quas, temporibus earum
                similique ipsa dignissimos quis incidunt esse. Vitae commodi maiores quia necessitatibus totam numquam
                modi, adipisci doloremque, quidem delectus molestias dolor, rem ipsa magnam unde excepturi quam
                laboriosam illum! Deserunt laudantium laboriosam atque possimus veritatis culpa ipsam repellendus magnam
                excepturi exercitationem asperiores molestiae voluptatibus nihil, officiis enim earum et doloremque sed
                dolor delectus sunt consequuntur placeat quasi! Exercitationem recusandae odio fugit corporis inventore
                hic maiores autem, sunt repellat est, ipsam, deleniti consectetur reiciendis assumenda nihil quibusdam
                eaque aliquid? Aliquid quam explicabo earum exercitationem eos sequi a tempora!</p>
        </div>
    <div class="agr-line"></div>
</div>